apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: production-platform
  labels:
    app: api
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: api