.vscode/
phase1.md
phase2.md
phase3.md
scripts/test-now.sh
outputs.md 
kubeconfig-dev.yaml
scripts/generate-load.sh
../../.github/workflows/ci-cd.yaml
infra/terraform/plan.tfplan
  
# Local .terraform directories
**/.terraform/*   

# Lock file (commit if working in team, else ignore)
**/.terraform.lock.hcl

# State files (sensitive!)
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json