apiVersion: v1
kind: Service
metadata:
  name: worker
  namespace: production-platform
  labels:
    app: worker
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8081"
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: worker